@tailwind base;
@tailwind components;
@tailwind utilities;

input::placeholder{
  color:black !important
}
.bg-img-home{
  background: url("../images//bg.jpg");
  background-repeat: no-repeat;
  background-size:cover;
}
.bg-img{
  background: url("../images//bg1.jpg");
  background-repeat: no-repeat;
  background-size:cover;
}
.bg-img2{
  background: url("../images//bg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-img3{
  background: url("../images//bg4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
